In [167]:
from datetime import datetime as dt
from matplotlib import pyplot as plt
from ast import literal_eval
import pandas as pd

In [168]:
# preview lotto dataframe
lotto_df = pd.read_csv("lotto_data.csv")
lotto_df.head()

,Unnamed: 0,LOTTO GAME,COMBINATIONS,DRAW DATE,JACKPOT (PHP),WINNERS
0,0,Grand Lotto 6/55,40-17-12-29-11-48,8/11/2025,"66,935,255.00",0
1,1,Megalotto 6/45,40-10-16-28-07-09,8/11/2025,"38,521,162.80",2
2,2,4D Lotto,7-0-7-5,8/11/2025,"42,039.00",20
3,3,3D Lotto 2PM,8-1-2,8/11/2025,"4,500.00",594
4,4,3D Lotto 5PM,4-2-2,8/11/2025,"4,500.00",329

In [169]:
pd.set_option('display.float_format', '{:,.2f}'.format)
lotto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32871 entries, 0 to 32870
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     32871 non-null  int64
 1   LOTTO GAME     32871 non-null  object
 2   COMBINATIONS   32871 non-null  object
 3   DRAW DATE      32871 non-null  object
 4   JACKPOT (PHP)  32871 non-null  object
 5   WINNERS        32871 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.5+ MB

In [170]:
# drop Unnamed: 0 column
lotto_df = lotto_df.drop('Unnamed: 0', axis=1)
lotto_df.head()

         LOTTO GAME       COMBINATIONS  DRAW DATE  JACKPOT (PHP)  WINNERS
0  Grand Lotto 6/55  40-17-12-29-11-48  8/11/2025  66,935,255.00        0
1    Megalotto 6/45  40-10-16-28-07-09  8/11/2025  38,521,162.80        2
2          4D Lotto            7-0-7-5  8/11/2025      42,039.00       20
3      3D Lotto 2PM              8-1-2  8/11/2025       4,500.00      594
4      3D Lotto 5PM              4-2-2  8/11/2025       4,500.00      329

In [171]:
# 3D Lotto, 2D Lotto, and Suertres Lotto were listed including their timeslot
# For simplicity, they can just be merged as one, like the rest of Lotto Games
print("old games: ", lotto_df["LOTTO GAME"].unique(),'\n')

replace_dict = {"2D Lotto": ['2D Lotto 2PM', '2D Lotto 5PM', '2D Lotto 9PM'],
                "3D Lotto": ['3D Lotto 2PM', '3D Lotto 5PM', '3D Lotto 9PM'],
                "Suertres Lotto": ['Suertres Lotto 11:30AM', 'Suertres Lotto 12:30PM', 'Suertres Lotto 2PM'],
                "EZ2 Lotto": ['EZ2 Lotto 11:30AM', 'EZ2 Lotto 12:30PM', 'EZ2 Lotto 2PM']            
               }

for k, v in replace_dict.items():
    lotto_df["LOTTO GAME"] = lotto_df["LOTTO GAME"].replace(v, k)

print("updated games: ", lotto_df["LOTTO GAME"].unique(), '\n')

print("number of lotto games: ", lotto_df["LOTTO GAME"].nunique())

old games:  ['Grand Lotto 6/55' 'Megalotto 6/45' '4D Lotto' '3D Lotto 2PM'
 '3D Lotto 5PM' '3D Lotto 9PM' '2D Lotto 2PM' '2D Lotto 5PM'
 '2D Lotto 9PM' 'Ultra Lotto 6/58' 'Superlotto 6/49' 'Lotto 6/42'
 '6D Lotto' 'Suertres Lotto 11:30AM' 'Suertres Lotto 12:30PM'
 'Suertres Lotto 2PM' 'EZ2 Lotto 2PM' 'EZ2 Lotto 11:30AM'
 'EZ2 Lotto 12:30PM']

updated games:  ['Grand Lotto 6/55' 'Megalotto 6/45' '4D Lotto' '3D Lotto' '2D Lotto'
 'Ultra Lotto 6/58' 'Superlotto 6/49' 'Lotto 6/42' '6D Lotto'
 'Suertres Lotto' 'EZ2 Lotto']

number of lotto games:  11

In [172]:
# convert 'DRAW DATE' column to datetime
lotto_df['DRAW DATE'] = pd.to_datetime(lotto_df['DRAW DATE'])

# convert 'JACKPOT (PHP)' column to float
lotto_df['JACKPOT (PHP)'] = lotto_df['JACKPOT (PHP)'].str.replace(",", "")
lotto_df['JACKPOT (PHP)'] = pd.to_numeric(lotto_df['JACKPOT (PHP)'])

for column in lotto_df.columns:
    print(f"Column {column} type: ", lotto_df[column].dtype)
          
# print("Column 'DRAW DATE' type: ", lotto_df['DRAW DATE'].dtype)
# print("Column 'JACKPOT (PHP)' type: ", lotto_df['JACKPOT (PHP)'].dtype)

lotto_df.head()

Column LOTTO GAME type:  object
Column COMBINATIONS type:  object
Column DRAW DATE type:  datetime64[ns]
Column JACKPOT (PHP) type:  float64
Column WINNERS type:  int64

         LOTTO GAME       COMBINATIONS  DRAW DATE  JACKPOT (PHP)  WINNERS
0  Grand Lotto 6/55  40-17-12-29-11-48 2025-08-11  66,935,255.00        0
1    Megalotto 6/45  40-10-16-28-07-09 2025-08-11  38,521,162.80        2
2          4D Lotto            7-0-7-5 2025-08-11      42,039.00       20
3          3D Lotto              8-1-2 2025-08-11       4,500.00      594
4          3D Lotto              4-2-2 2025-08-11       4,500.00      329

In [173]:
lotto_df["COMBINATIONS"] = lotto_df["COMBINATIONS"].str.split('-')
grand_lotto_list = [int(str_num) for str_list in grand_lotto_df for str_num in str_list]
print(grand_lotto_list)

[40, 17, 12, 29, 11, 48, 42, 30, 49, 6, 3, 45, 17, 25, 4, 11, 37, 52, 44, 8, 12, 29, 5, 39, 1, 53, 46, 52, 8, 18, 42, 13, 52, 4, 31, 12, 12, 13, 55, 2, 30, 14, 9, 35, 45, 52, 41, 38, 11, 32, 16, 9, 4, 24, 39, 31, 19, 24, 29, 12, 35, 49, 44, 53, 16, 31, 32, 53, 20, 8, 45, 54, 1, 2, 31, 13, 14, 44, 46, 54, 21, 51, 49, 42, 52, 13, 40, 27, 5, 11, 25, 35, 19, 12, 5, 45, 42, 55, 49, 29, 3, 36, 11, 29, 13, 48, 20, 9, 3, 54, 24, 36, 18, 46, 5, 3, 42, 27, 45, 34, 1, 7, 2, 11, 41, 37, 18, 8, 42, 3, 32, 24, 5, 8, 22, 6, 2, 45, 3, 45, 5, 18, 21, 28, 36, 32, 28, 14, 49, 45, 33, 55, 48, 19, 1, 50, 25, 32, 46, 44, 26, 36, 43, 17, 37, 9, 53, 4, 17, 19, 2, 6, 9, 42, 53, 26, 3, 22, 1, 6, 36, 12, 2, 26, 51, 29, 52, 33, 40, 48, 31, 6, 51, 49, 21, 17, 47, 54, 4, 19, 43, 25, 47, 26, 27, 21, 49, 2, 16, 7, 43, 24, 7, 29, 8, 27, 33, 51, 28, 23, 31, 20, 30, 29, 42, 28, 2, 43, 51, 21, 42, 4, 25, 17, 10, 26, 43, 45, 4, 30, 51, 9, 42, 28, 40, 31, 24, 52, 20, 34, 22, 43, 27, 24, 1, 31, 53, 23, 22, 2, 35, 37, 42, 19, 27, 55, 44, 19, 48, 43, 41, 34, 37, 26, 30, 28, 47, 6, 36, 11, 53, 42, 13, 11, 38, 34, 18, 10, 9, 50, 26, 30, 7, 3, 54, 8, 28, 23, 52, 43, 47, 14, 41, 46, 51, 49, 47, 44, 45, 13, 10, 50, 19, 31, 36, 45, 13, 16, 35, 55, 50, 47, 14, 34, 9, 10, 20, 38, 55, 36, 20, 8, 52, 24, 5, 25, 50, 42, 29, 45, 11, 8, 44, 16, 30, 34, 54, 55, 52, 33, 19, 44, 21, 43, 21, 30, 27, 38, 29, 3, 4, 29, 24, 32, 12, 40, 16, 38, 37, 25, 36, 4, 6, 12, 41, 34, 44, 50, 37, 34, 19, 32, 39, 54, 7, 9, 17, 13, 24, 35, 20, 13, 9, 34, 1, 8, 41, 30, 23, 33, 55, 42, 13, 49, 48, 30, 17, 3, 2, 28, 4, 46, 11, 49, 4, 51, 41, 44, 43, 31, 14, 51, 28, 34, 53, 22, 28, 6, 11, 43, 53, 13, 4, 33, 45, 23, 47, 31, 15, 21, 37, 55, 49, 22, 11, 41, 54, 49, 10, 45, 53, 46, 32, 29, 44, 10, 7, 54, 47, 32, 43, 9, 53, 24, 31, 50, 6, 22, 49, 7, 37, 36, 31, 20, 24, 33, 14, 43, 6, 39, 35, 48, 1, 18, 2, 19, 51, 21, 1, 16, 33, 38, 48, 29, 27, 43, 17, 30, 20, 48, 47, 10, 26, 55, 45, 22, 23, 32, 3, 30, 22, 52, 33, 49, 2, 34, 47, 21, 32, 40, 28, 2, 13, 34, 51, 4, 22, 7, 20, 32, 21, 31, 13, 50, 9, 14, 45, 5, 3, 15, 18, 25, 22, 6, 28, 44, 13, 21, 24, 31, 9, 3, 38, 27, 21, 23, 11, 10, 49, 35, 1, 20, 43, 31, 45, 44, 50, 38, 55, 42, 45, 26, 17, 52, 20, 54, 45, 46, 33, 23, 3, 48, 33, 47, 38, 15, 16, 3, 24, 14, 22, 41, 10, 52, 25, 48, 26, 8, 46, 53, 42, 55, 39, 31, 7, 48, 21, 40, 15, 55, 10, 54, 49, 10, 42, 34, 35, 27, 1, 16, 8, 41, 42, 17, 42, 11, 47, 12, 30, 54, 33, 41, 20, 43, 15, 18, 9, 18, 2, 1, 37, 32, 16, 9, 41, 18, 20, 5, 1, 53, 8, 50, 38, 40, 25, 17, 41, 34, 8, 18, 19, 15, 7, 33, 49, 25, 4, 17, 26, 9, 41, 7, 14, 1, 25, 32, 10, 27, 7, 46, 30, 49, 24, 12, 54, 47, 50, 44, 52, 40, 27, 1, 16, 11, 50, 3, 49, 26, 43, 20, 8, 39, 52, 29, 40, 42, 16, 55, 4, 2, 35, 23, 42, 3, 26, 14, 30, 54, 40, 23, 26, 48, 12, 50, 52, 10, 53, 16, 47, 21, 7, 40, 12, 6, 48, 35, 14, 39, 20, 51, 17, 31, 45, 50, 39, 5, 20, 11, 47, 1, 49, 39, 26, 10, 36, 53, 55, 46, 20, 44, 23, 42, 35, 45, 26, 17, 7, 51, 17, 52, 6, 1, 43, 5, 5, 43, 40, 25, 27, 36, 4, 34, 48, 9, 19, 41, 54, 12, 33, 31, 2, 10, 10, 28, 3, 53, 41, 20, 55, 9, 2, 21, 26, 8, 28, 42, 4, 55, 45, 39, 46, 45, 12, 22, 41, 13, 30, 34, 27, 39, 2, 38, 13, 10, 12, 52, 40, 33, 6, 20, 5, 28, 29, 10, 2, 15, 45, 31, 19, 24, 22, 9, 5, 21, 37, 30, 21, 34, 26, 6, 44, 27, 15, 9, 30, 52, 49, 14, 41, 34, 23, 9, 45, 27, 31, 3, 17, 47, 24, 20, 32, 45, 7, 22, 17, 3, 8, 50, 44, 40, 7, 13, 3, 51, 1, 11, 16, 10, 33, 21, 37, 40, 49, 50, 16, 45, 27, 39, 38, 9, 44, 16, 40, 13, 42, 15, 11, 46, 43, 38, 18, 45, 52, 36, 31, 21, 1, 53, 25, 27, 28, 35, 29, 53, 5, 4, 26, 3, 20, 30, 10, 53, 6, 34, 42, 8, 35, 49, 52, 38, 55, 13, 47, 40, 24, 29, 16, 13, 16, 20, 35, 39, 51, 53, 28, 4, 49, 35, 30, 1, 32, 42, 36, 23, 48, 37, 22, 5, 52, 46, 23, 35, 39, 43, 41, 16, 25, 45, 2, 3, 4, 16, 44, 40, 16, 27, 7, 25, 54, 30, 33, 21, 40, 42, 52, 37, 25, 44, 43, 34, 40, 3, 10, 35, 9, 8, 21, 28, 45, 37, 23, 55, 32, 21, 41, 8, 46, 35, 20, 30, 34, 22, 46, 43, 33, 28, 53, 11, 20, 4, 19, 51, 43, 51, 52, 44, 29, 47, 28, 9, 21, 30, 23, 46, 51, 43, 4, 6, 12, 48, 13, 41, 22, 52, 17, 20, 3, 4, 29, 49, 30, 8, 8, 3, 9, 46, 41, 38, 17, 45, 10, 6, 47, 44, 41, 37, 29, 36, 49, 4, 42, 16, 24, 7, 12, 31, 25, 21, 23, 10, 36, 42, 35, 6, 4, 32, 48, 28, 16, 34, 24, 15, 11, 21, 49, 29, 45, 35, 8, 11, 35, 54, 5, 41, 6, 22, 36, 50, 29, 2, 13, 46, 19, 39, 20, 24, 25, 27, 13, 53, 24, 51, 38, 31, 49, 43, 26, 3, 21, 50, 27, 29, 14, 24, 41, 20, 17, 1, 34, 6, 50, 45, 8, 16, 25, 44, 6, 34, 49, 53, 26, 41, 3, 17, 11, 21, 29, 4, 53, 31, 13, 39, 5, 33, 35, 11, 1, 39, 28, 20, 7, 27, 36, 52, 29, 24, 28, 42, 48, 41, 4, 40, 24, 43, 45, 16, 42, 41, 50, 1, 29, 32, 19, 47, 30, 2, 45, 54, 9, 31, 47, 8, 30, 43, 55, 41, 50, 37, 51, 9, 47, 41, 40, 4, 46, 1, 6, 40, 27, 35, 23, 2, 37, 16, 11, 32, 4, 16, 54, 34, 23, 29, 17, 26, 30, 39, 14, 7, 9, 37, 24, 23, 7, 52, 4, 35, 45, 32, 13, 15, 42, 53, 37, 30, 29, 21, 45, 18, 30, 23, 11, 14, 17, 52, 37, 43, 38, 11, 15, 2, 6, 52, 19, 24, 12, 49, 14, 40, 54, 31, 40, 36, 35, 26, 3, 37, 33, 51, 42, 20, 47, 46, 13, 41, 5, 50, 49, 54, 26, 1, 10, 35, 12, 18, 13, 42, 35, 27, 33, 30, 53, 39, 30, 54, 11, 40, 22, 55, 24, 48, 44, 43, 24, 22, 20, 5, 25, 28, 7, 31, 49, 33, 32, 40, 32, 25, 16, 36, 33, 29, 49, 37, 51, 36, 50, 10, 22, 18, 35, 39, 48, 8, 42, 44, 1, 24, 47, 2, 15, 8, 2, 49, 50, 45, 27, 55, 48, 54, 31, 3, 7, 46, 14, 54, 30, 44, 44, 36, 50, 42, 21, 11, 29, 4, 54, 38, 12, 39, 24, 39, 1, 21, 37, 3, 40, 38, 36, 21, 37, 42, 20, 43, 49, 31, 6, 24, 10, 7, 19, 40, 20, 29, 30, 37, 27, 4, 31, 5, 9, 53, 17, 51, 43, 52, 2, 25, 6, 35, 13, 7, 48, 46, 30, 29, 15, 42, 2, 33, 10, 51, 13, 23, 21, 48, 10, 29, 44, 30, 24, 50, 52, 9, 51, 3, 45, 35, 55, 47, 37, 42, 11, 28, 53, 54, 3, 37, 50, 53, 22, 32, 7, 42, 8, 18, 24, 17, 28, 4, 16, 47, 23, 40, 54, 6, 52, 4, 24, 42, 26, 39, 22, 5, 51, 48, 1, 25, 27, 5, 51, 43, 54, 12, 25, 21, 7, 49, 32, 22, 41, 35, 44, 50, 51, 32, 48, 54, 37, 6, 53, 16, 25, 20, 24, 28, 6, 9, 55, 48, 5, 16, 40, 24, 33, 3, 55, 41, 1, 9, 24, 32, 5, 7, 9, 44, 4, 32, 52, 6, 46, 26, 46, 26, 37, 1, 27, 8, 29, 30, 11, 9, 46, 32, 38, 18, 45, 20, 31, 51, 51, 32, 11, 19, 40, 10, 11, 26, 46, 5, 38, 50, 6, 10, 2, 17, 23, 51, 38, 17, 27, 33, 42, 48, 42, 52, 49, 50, 32, 8, 52, 5, 6, 38, 27, 53, 48, 2, 54, 41, 19, 35, 52, 8, 41, 11, 27, 31, 21, 33, 32, 54, 1, 52, 33, 25, 10, 14, 18, 51, 33, 18, 47, 26, 24, 20, 46, 43, 6, 30, 15, 1, 14, 32, 54, 44, 52, 47, 44, 17, 7, 49, 35, 14, 51, 50, 27, 49, 11, 24, 54, 49, 42, 39, 19, 35, 4, 42, 44, 49, 39, 21, 12, 34, 3, 29, 15, 40, 11, 48, 25, 2, 30, 38, 55, 37, 9, 26, 10, 43, 14, 7, 37, 20, 47, 43, 3, 30, 5, 6, 2, 14, 46, 29, 17, 54, 30, 50, 50, 39, 30, 40, 33, 18, 47, 2, 4, 44, 54, 25, 11, 40, 3, 53, 44, 38, 18, 35, 36, 34, 20, 21, 30, 17, 6, 12, 4, 29, 39, 52, 45, 22, 11, 17, 3, 31, 28, 37, 55, 25, 9, 2, 26, 49, 22, 30, 9, 27, 44, 49, 11, 24, 45, 23, 11, 13, 46, 4, 31, 54, 29, 52, 24, 12, 42, 32, 54, 44, 11, 39, 50, 48, 2, 55, 46, 9, 55, 50, 6, 45, 12, 40, 10, 2, 17, 4, 35, 51, 12, 4, 48, 6, 43, 55, 41, 17, 7, 51, 39, 46, 42, 28, 30, 34, 33, 1, 18, 12, 29, 7, 28, 50, 23, 25, 1, 26, 14, 28, 41, 39, 14, 9, 31, 4, 7, 11, 6, 15, 49, 12, 4, 3, 33, 7, 20, 22, 54, 55, 26, 45, 43, 24, 16, 1, 6, 34, 2, 38, 51, 1, 43, 13, 18, 53, 43, 15, 2, 33, 16, 25, 46, 38, 43, 4, 8, 17, 11, 36, 23, 34, 15, 27, 3, 24, 19, 1, 17, 11, 54, 2, 3, 21, 13, 6, 49, 55, 20, 52, 36, 47, 15, 38, 23, 28, 3, 49, 48, 28, 17, 55, 47, 22, 55, 35, 42, 23, 11, 1, 34, 46, 48, 23, 21, 30, 19, 32, 25, 12, 17, 36, 28, 40, 38, 35, 19, 52, 48, 24, 2, 12, 42, 43, 5, 1, 27, 26, 44, 11, 20, 22, 52, 54, 33, 30, 21, 26, 15, 48, 35, 30, 47, 45, 41, 6, 37, 48, 28, 10, 1, 35, 30, 48, 10, 18, 33, 39, 23, 11, 11, 4, 43, 36, 51, 18, 20, 13, 19, 43, 24, 15, 18, 15, 43, 25, 34, 19, 30, 14, 5, 27, 34, 42, 54, 22, 23, 49, 42, 41, 19, 27, 28, 5, 33, 10, 17, 20, 29, 2, 22, 39, 11, 17, 28, 6, 9, 1, 4, 13, 51, 37, 34, 1, 2, 39, 53, 49, 27, 55, 48, 24, 47, 39, 33, 15, 45, 8, 40, 2, 15, 19, 48, 10, 18, 42, 30, 54, 28, 32, 12, 9, 18, 50, 1, 33, 43, 53, 26, 20, 46, 18, 15, 8, 27, 37, 15, 18, 2, 29, 16, 24, 9, 43, 46, 51, 36, 16, 42, 17, 6, 8, 12, 4, 43, 14, 1, 15, 33, 45, 4, 16, 26, 24, 14, 47, 19, 46, 3, 34, 4, 28, 3, 11, 2, 51, 31, 43, 53, 17, 37, 13, 23, 4, 5, 48, 14, 9, 33, 2, 44, 26, 51, 11, 21, 45, 53, 2, 5, 41, 9, 51, 20, 2, 52, 13, 44, 45, 29, 13, 53, 27, 54, 23, 51, 19, 41, 14, 35, 20, 7, 10, 9, 55, 28, 18, 23, 28, 25, 24, 36, 30, 5, 15, 43, 6, 22, 18, 21, 37, 33, 34, 55, 25, 5, 33, 49, 47, 28, 42, 26, 23, 34, 41, 45, 29, 36, 38, 47, 43, 28, 15, 49, 53, 3, 31, 22, 8, 25, 50, 49, 38, 21, 19, 7, 50, 38, 34, 51, 22, 26, 3, 43, 10, 54, 14, 1, 24, 39, 6, 53, 40, 16, 21, 25, 29, 15, 6, 45, 29, 12, 3, 26, 51, 48, 36, 42, 55, 11, 22, 14, 29, 9, 6, 38, 15, 53, 48, 40, 23, 24, 2, 8, 26, 17, 41, 37, 49, 9, 8, 5, 1, 30, 52, 44, 32, 31, 41, 29, 46, 34, 33, 50, 17, 27, 13, 15, 20, 8, 28, 19, 5, 55, 44, 3, 14, 41, 16, 7, 25, 15, 22, 44, 54, 17, 15, 40, 42, 38, 51, 4, 25, 21, 53, 23, 27, 32, 19, 43, 27, 29, 45, 24, 4, 40, 46, 38, 21, 8, 17, 12, 1, 35, 3, 40, 8, 45, 6, 23, 41, 3, 15, 27, 35, 16, 51, 10, 34, 28, 46, 4, 14, 40, 30, 44, 33, 51, 27, 27, 49, 7, 4, 26, 33, 3, 44, 10, 13, 23, 11, 4, 52, 21, 48, 15, 30, 16, 44, 36, 47, 37, 13, 47, 34, 6, 15, 51, 1, 39, 43, 18, 7, 29, 52, 35, 7, 11, 30, 23, 55, 44, 13, 19, 33, 27, 39, 8, 49, 2, 44, 7, 19, 30, 33, 54, 43, 41, 32, 5, 35, 13, 39, 27, 9, 30, 25, 20, 41, 17, 42, 5, 21, 20, 10, 29, 50, 41, 47, 9, 51, 21, 43, 7, 14, 13, 54, 30, 19, 24, 48, 8, 38, 45, 11, 33, 38, 29, 8, 13, 50, 11, 46, 9, 12, 43, 16, 12, 4, 43, 49, 42, 47, 24, 35, 53, 47, 5, 44, 54, 22, 10, 28, 14, 26, 2, 19, 48, 24, 43, 52, 15, 55, 43, 53, 40, 47, 45, 8, 4, 28, 17, 13, 21, 32, 9, 13, 40, 34, 30, 20, 11, 45, 21, 18, 15, 35, 51, 26, 40, 48, 28, 25, 31, 48, 45, 17, 27, 54, 3, 46, 45, 25, 41, 19, 2, 47, 45, 54, 40, 7, 51, 12, 9, 2, 23, 15, 18, 24, 26, 32, 22, 25, 1, 2, 28, 41, 49, 10, 16, 22, 51, 55, 40, 3, 34, 37, 19, 15, 22, 16, 13, 27, 38, 43, 30, 35, 51, 5, 26, 54, 52, 5, 42, 18, 15, 11, 35, 45, 29, 6, 33, 2, 27, 32, 53, 37, 39, 36, 44, 50, 7, 52, 46, 36, 47, 16, 11, 5, 22, 40, 40, 46, 37, 48, 29, 20, 37, 42, 45, 20, 54, 41, 24, 25, 31, 54, 19, 14, 3, 36, 15, 41, 51, 28, 22, 6, 43, 42, 17, 44, 9, 32, 37, 34, 31, 33, 26, 14, 51, 10, 12, 8, 9, 45, 36, 27, 18, 54, 54, 11, 26, 46, 33, 51, 7, 52, 3, 34, 46, 50, 52, 30, 36, 42, 45, 34, 48, 31, 42, 40, 11, 50, 30, 46, 20, 17, 34, 15, 20, 6, 29, 18, 52, 44, 20, 6, 29, 18, 52, 44, 17, 24, 36, 15, 34, 18, 23, 45, 36, 28, 17, 18, 48, 42, 18, 6, 46, 28, 36, 6, 7, 33, 38, 39, 54, 11, 48, 10, 9, 38, 17, 51, 33, 25, 21, 46, 15, 12, 16, 17, 3, 9, 29, 19, 16, 18, 9, 52, 41, 27, 32, 34, 5, 1, 34, 36, 3, 35, 17, 4, 1, 40, 33, 24, 30, 45, 24, 49, 7, 47, 25, 45, 8, 37, 42, 17, 33, 23, 14, 22, 53, 29, 12, 26, 36, 25, 6, 23, 18, 19, 40, 17, 19, 41, 14, 20, 12, 30, 47, 29, 42, 34, 21, 19, 29, 16, 5, 14, 28, 43, 49, 35, 7, 51, 15, 12, 33, 42, 51, 54, 19, 37, 29, 33, 50, 6, 7, 40, 27, 15, 54, 22, 32, 45, 10, 39, 20, 35, 41, 36, 2, 33, 23, 5, 20, 46, 14, 55, 33, 10, 32, 48, 6, 29, 8, 24, 28, 16, 33, 13, 9, 36, 34, 13, 6, 3, 52, 26, 24, 30, 41, 40, 52, 12, 2, 18, 49, 7, 19, 47, 49, 6, 26, 55, 3, 14, 42, 6, 9, 29, 33, 1, 13, 31, 41, 35, 9, 25, 7, 9, 51, 2, 24, 39, 49, 1, 40, 21, 20, 55, 22, 51, 41, 31, 16, 39, 54, 10, 17, 53, 39, 6, 51, 2, 49, 47, 46, 36, 48, 55, 21, 5, 18, 52, 9, 13, 41, 36, 49, 45, 1, 9, 50, 14, 37, 17, 33, 32, 8, 6, 14, 5, 31, 55, 1, 21, 52, 48, 37, 48, 28, 24, 1, 32, 50, 31, 53, 46, 16, 44, 42, 21, 44, 10, 51, 25, 55, 21, 51, 38, 22, 37, 2, 3, 41, 15, 33, 46, 46, 23, 42, 13, 53, 52, 2, 48, 12, 42, 44, 6, 19, 14, 13, 40, 10, 16, 48, 22, 23, 51, 9, 26, 11, 29, 34, 50, 10, 17, 34, 41, 27, 17, 19, 53, 31, 11, 45, 7, 54, 8, 32, 8, 11, 33, 42, 41, 25, 27, 19, 45, 14, 20, 23, 42, 34, 25, 48, 41, 50, 9, 29, 36, 37, 52, 50, 37, 36, 6, 9, 20, 47, 54, 38, 23, 35, 52, 43, 10, 30, 21, 50, 5, 20, 39, 48, 15, 24, 25, 15, 46, 42, 43, 27, 34, 24, 18, 52, 42, 19, 37, 30, 45, 55, 21, 6, 51, 55, 32, 24, 37, 40, 4, 50, 44, 17, 52, 1, 41, 43, 26, 53, 44, 6, 23, 2, 25, 37, 1, 53, 48, 17, 35, 49, 33, 16, 31, 52, 17, 19, 10, 54, 22, 29, 51, 23, 34, 55, 8, 27, 51, 16, 28, 4, 18, 24, 36, 35, 7, 23, 10, 10, 15, 36, 8, 23, 5, 16, 24, 33, 15, 30, 37, 6, 29, 32, 47, 9, 20, 9, 17, 45, 39, 35, 15, 49, 53, 32, 6, 44, 10, 46, 29, 30, 34, 4, 20, 48, 53, 34, 24, 44, 16, 43, 15, 39, 42, 13, 49, 1, 55, 11, 20, 25, 28, 43, 15, 55, 35, 49, 52, 9, 16, 46, 5, 43, 54, 44, 48, 50, 37, 7, 19, 48, 43, 12, 9, 31, 36, 54, 47, 7, 46, 6, 39, 22, 9, 2, 8, 6, 15, 46, 54, 13, 1, 38, 30, 55, 33, 36, 46, 2, 32, 52, 17, 55, 45, 21, 49, 29, 17, 38, 7, 6, 41, 33, 34, 41, 36, 5, 39, 24, 32, 7, 11, 9, 49, 48, 30, 19, 38, 34, 2, 28, 55, 52, 22, 41, 35, 12, 29, 15, 6, 54, 5, 4, 36, 28, 29, 17, 49, 41, 17, 49, 39, 6, 32, 49, 11, 51, 13, 45, 18, 13, 17, 25, 6, 23, 19, 39, 29, 9, 21, 19, 20, 45, 29, 40, 14, 32, 5, 50, 44, 3, 37, 41, 14, 18, 43, 6, 41, 44, 48, 50, 40, 54, 53, 44, 29, 1, 39, 2, 24, 16, 33, 34, 48, 46, 3, 50, 10, 26, 13, 4, 54, 47, 14, 3, 33, 4, 40, 34, 35, 15, 24, 8, 5, 10, 43, 37, 7, 26, 46, 24, 52, 41, 31, 16, 29, 52, 14, 52, 31, 55, 43, 18, 34, 27, 2, 23, 49, 15, 52, 28, 20, 41, 11, 5, 27, 44, 10, 51, 36, 55, 48, 24, 41, 10, 18, 31, 22, 44, 11, 55, 54, 35, 28, 29, 42, 12, 41, 1, 35, 19, 27, 21, 25, 16, 33, 37, 2, 45, 49, 46, 13, 50, 43, 33, 23, 27, 14, 3, 10, 5, 14, 43, 23, 41, 36, 21, 47, 4, 11, 54, 35, 22, 9, 2, 8, 3, 53, 17, 35, 55, 24, 34, 40, 55, 48, 13, 43, 8, 45, 47, 5, 21, 40, 49, 10, 41, 22, 47, 42, 14, 9, 51, 28, 29, 35, 36, 18, 21, 13, 32, 53, 2, 50, 52, 47, 53, 34, 6, 27, 37, 31, 52, 46, 38, 21, 23, 28, 19, 51, 43, 45, 6, 8, 27, 13, 22, 21, 18, 39, 23, 9, 21, 2, 18, 10, 1, 15, 33, 21, 24, 52, 54, 38, 55, 43, 10, 53, 6, 31, 16, 55, 9, 10, 8, 40, 7, 31, 33, 49, 16, 42, 8, 33, 39, 55, 10, 28, 3, 16, 38, 29, 55, 26, 10, 24, 35, 12, 55, 42, 38, 10, 31, 43, 9, 42, 14, 46, 5, 22, 51, 40, 8, 32, 15, 18, 1, 21, 18, 37, 3, 41, 10, 1, 25, 48, 5, 51, 28, 11, 54, 24, 44, 4, 40, 55, 28, 13, 21, 25, 7, 31, 32, 1, 2, 38, 17, 5, 7, 10, 8, 23, 3, 43, 2, 47, 48, 21, 18, 14, 21, 48, 6, 32, 37, 43, 49, 44, 12, 55, 19, 6, 20, 5, 47, 39, 33, 54, 7, 13, 5, 25, 28, 3, 46, 40, 33, 29, 47, 25, 54, 35, 14, 55, 34, 11, 17, 30, 53, 5, 43, 8, 2, 10, 19, 43, 48, 41, 50, 42, 26, 5, 22, 23, 28, 30, 6, 32, 23, 3, 11, 51, 45, 35, 32, 13, 6, 36, 40, 28, 39, 15, 2, 6, 39, 42, 27, 24, 46, 24, 31, 44, 9, 14, 27, 49, 6, 30, 19, 22, 27, 22, 54, 3, 35, 19, 21, 30, 7, 33, 8, 49, 7, 8, 16, 1, 44, 28, 35, 15, 16, 1, 33, 55, 24, 50, 44, 3, 16, 18, 27, 14, 41, 5, 28, 51, 16, 5, 20, 46, 33, 50, 17, 54, 9, 41, 8, 20, 21, 29, 39, 42, 6, 14, 9, 2, 21, 22, 20, 42, 20, 15, 49, 27, 50, 29, 29, 47, 36, 41, 44, 27, 47, 17, 31, 20, 11, 51, 55, 13, 15, 39, 51, 22, 38, 15, 18, 16, 42, 33, 43, 54, 53, 45, 27, 24, 31, 47, 55, 11, 37, 42, 37, 45, 5, 47, 26, 24, 11, 2, 54, 28, 50, 48, 51, 42, 20, 27, 17, 23, 8, 53, 40, 29, 50, 32, 33, 47, 34, 15, 8, 39, 28, 26, 54, 23, 33, 43, 22, 4, 24, 6, 9, 49, 13, 19, 43, 33, 41, 46, 49, 13, 16, 12, 42, 11, 13, 48, 40, 36, 39, 34, 10, 52, 30, 45, 6, 29, 30, 22, 7, 46, 15, 52, 22, 31, 49, 54, 2, 37, 40, 30, 19, 38, 46, 35, 43, 14, 20, 9, 31, 3, 6, 12, 2, 13, 48, 15, 51, 40, 33, 6, 12, 55, 13, 1, 50, 10, 51, 54, 30, 23, 19, 28, 48, 22, 10, 15, 5, 9, 47, 52, 47, 6, 3, 36, 16, 46, 35, 9, 43, 1, 6, 17, 12, 47, 2, 41, 23, 9, 41, 36, 51, 53, 8, 20, 31, 47, 28, 26, 41, 35, 2, 47, 55, 4, 21, 13, 24, 46, 13, 25, 9, 15, 7, 51, 24, 22, 19, 27, 21, 38, 39, 10, 45, 14, 6, 37, 1, 39, 51, 36, 2, 41, 6, 26, 30, 9, 25, 2, 27, 9, 1, 43, 40, 28, 11, 24, 48, 15, 38, 15, 27, 13, 53, 8, 37, 17, 38, 26, 23, 1, 13, 28, 3, 40, 34, 15, 28, 1, 25, 32, 47, 5, 38, 35, 11, 22, 39, 47, 48, 38, 23, 39, 37, 29, 44, 5, 11, 22, 16, 27, 6, 35, 22, 55, 1, 32, 6, 1, 28, 13, 26, 45, 51, 54, 49, 37, 35, 8, 36, 41, 35, 44, 3, 40, 42, 49, 29, 41, 27, 3, 52, 13, 50, 37, 19, 49, 42, 10, 47, 29, 15, 53, 21, 46, 26, 4, 22, 17, 51, 50, 2, 25, 52, 22, 8, 49, 17, 38, 43, 6, 46, 39, 33, 5, 45, 26, 11, 26, 28, 24, 38, 5, 42, 12, 44, 49, 38, 11, 50, 28, 33, 26, 4, 3, 36, 14, 44, 39, 22, 40, 27, 14, 18, 13, 3, 46, 1, 2, 46, 47, 11, 32, 30, 2, 5, 23, 6, 24, 16, 53, 46, 49, 51, 29, 1, 14, 10, 25, 51, 38, 31, 20, 32, 29, 17, 48, 10, 26, 31, 16, 17, 1, 40, 41, 20, 37, 52, 11, 30, 11, 47, 24, 54, 48, 45, 30, 35, 36, 21, 10, 53, 15, 9, 12, 41, 16, 23, 44, 22, 26, 16, 12, 27, 49, 47, 25, 54, 29, 44, 3, 33, 23, 43, 7, 46, 44, 36, 35, 43, 41, 22, 15, 53, 7, 5, 38, 51, 45, 41, 16, 43, 7, 1, 11, 35, 54, 41, 24, 36, 35, 48, 37, 51, 4, 47, 17, 50, 39, 30, 55, 28, 53, 32, 54, 50, 14, 55, 50, 48, 21, 18, 54, 9, 25, 55, 34, 5, 2, 42, 7, 43, 18, 37, 38, 24, 49, 36, 28, 23, 54, 39, 11, 20, 4, 1, 7, 50, 7, 55, 25, 36, 28, 1, 19, 13, 42, 21, 48, 2, 39, 15, 8, 22, 27, 4, 54, 45, 15, 16, 8, 20, 8, 55, 26, 47, 48, 5, 10, 42, 50, 27, 41, 10, 17, 36, 19, 30, 50, 26, 13, 17, 52, 20, 40, 38, 34, 37, 49, 5, 9, 4, 54, 25, 35, 12, 15, 34, 12, 10, 16, 21, 1, 53, 13, 4, 19, 33, 44, 49, 17, 22, 52, 6, 41, 3, 44, 17, 52, 16, 27, 49, 16, 42, 3, 26, 6, 45, 51, 4, 23, 44, 14, 3, 9, 34, 1, 15, 40, 51, 19, 5, 29, 26, 17, 42, 52, 20, 39, 19, 40, 18, 52, 17, 2, 54, 55, 54, 2, 52, 24, 11, 4, 22, 37, 54, 36, 38, 18, 33, 13, 37, 55, 53, 40, 9, 13, 36, 27, 5, 10, 38, 29, 4, 5, 46, 36, 52, 3, 10, 46, 34, 48, 41, 30, 20, 7, 22, 26, 8, 28, 46, 40, 24, 45, 18, 23, 22, 24, 9, 52, 3, 52, 17, 35, 33, 42, 23, 3, 31, 55, 37, 48, 24, 3, 50, 25, 22, 23, 10, 22, 40, 29, 51, 42, 48, 13, 31, 11, 8, 24, 41, 48, 2, 5, 37, 34, 2, 12, 22, 27, 3, 29, 26, 54, 18, 37, 28, 42, 48, 36, 43, 39, 6, 10, 45, 19, 42, 28, 50, 17, 33, 20, 29, 50, 16, 13, 43, 6, 26, 4, 53, 20, 13, 20, 14, 34, 49, 27, 28, 30, 20, 49, 26, 40, 41, 16, 36, 43, 19, 34, 10, 16, 47, 15, 39, 9, 7, 12, 52, 26, 40, 48, 54, 6, 28, 38, 40, 50, 28, 17, 49, 5, 6, 21, 45, 47, 26, 8, 54, 50, 46, 12, 30, 28, 19, 36, 2, 38, 51, 54, 44, 50, 1, 51, 12, 44, 29, 22, 3, 16, 44, 32, 47, 38, 53, 23, 10, 27, 3, 44, 23, 40, 11, 10, 37, 45, 4, 37, 11, 13, 42, 53, 41, 51, 16, 32, 21, 11, 4, 9, 28, 42, 51, 1, 21, 47, 37, 15, 26, 17, 17, 25, 29, 13, 3, 15, 33, 4, 37, 30, 27, 3, 46, 13, 34, 37, 28, 47, 54, 10, 45, 41, 49, 12, 18, 28, 10, 40, 21, 25, 12, 41, 53, 30, 19, 48, 43, 50, 33, 49, 25, 20, 12, 27, 45, 37, 15, 52, 47, 26, 32, 11, 25, 45, 22, 3, 33, 17, 14, 24, 8, 23, 19, 9, 40, 28, 51, 37, 52, 39, 38, 28, 1, 7, 41, 51, 30, 4, 18, 22, 19, 4, 13, 53, 50, 1, 42, 3, 17, 39, 15, 38, 4, 20, 45, 37, 30, 36, 13, 33, 31, 2, 51, 37, 4, 15, 32, 55, 1, 24, 29, 21, 48, 33, 9, 49, 23, 34, 30, 26, 52, 47, 34, 24, 8, 13, 31, 34, 43, 26, 39, 50, 3, 29, 8, 5, 17, 38, 27, 40, 10, 1, 29, 9, 15, 21, 55, 9, 30, 53, 15, 17, 5, 14, 2, 32, 53, 31, 44, 40, 52, 55, 10, 29, 38, 32, 33, 47, 5, 22, 50, 2, 16, 40, 6, 29, 1, 19, 10, 32, 36, 51, 9, 46, 14, 10, 51, 55, 14, 43, 10, 50, 25, 54, 4, 22, 55, 24, 42, 32, 35, 15, 49, 19, 17, 42, 16, 12, 26, 5, 55, 34, 3, 12, 43, 54, 14, 6, 22, 3, 46, 53, 5, 41, 39, 38, 14, 25, 32, 37, 52, 15, 6, 19, 7, 22, 6, 11, 51, 37, 23, 45, 50, 51, 54, 49, 3, 8, 27, 25, 5, 44, 22, 37, 4, 33, 55, 32, 40, 14, 22, 17, 50, 45, 26, 15, 27, 42, 30, 49, 39, 32, 38, 31, 12, 47, 14, 3, 6, 38, 42, 34, 3, 28, 14, 32, 20, 15, 46, 14, 13, 40, 6, 27, 33, 36, 7, 28, 38, 8, 26, 27, 34, 3, 14, 2, 12, 52, 11, 20, 45, 8, 37, 52, 35, 31, 47, 51, 8, 11, 14, 50, 44, 51, 43, 6, 5, 39, 24, 17, 41, 26, 46, 53, 31, 40, 22, 44, 2, 42, 4, 49, 31, 52, 33, 35, 40, 24, 11, 35, 44, 10, 20, 38, 35, 7, 23, 10, 48, 45, 50, 27, 9, 1, 12, 5, 4, 26, 48, 18, 15, 1, 45, 25, 50, 10, 15, 5, 11, 14, 39, 42, 55, 26, 25, 54, 36, 43, 28, 44, 40, 35, 19, 6, 2, 28, 48, 49, 50, 35, 39, 10, 46, 20, 44, 52, 23, 14, 38, 54, 18, 9, 1, 25, 9, 46, 30, 6, 43, 1, 36, 50, 51, 45, 43, 14, 14, 8, 48, 46, 1, 44, 23, 54, 9, 22, 25, 38, 12, 21, 19, 50, 47, 1, 17, 49, 30, 12, 43, 8, 13, 10, 14, 15, 41, 47, 55, 7, 44, 18, 35, 28, 55, 23, 11, 33, 12, 26, 36, 19, 8, 14, 10, 52, 24, 12, 43, 45, 5, 25, 6, 12, 13, 34, 17, 47, 6, 12, 13, 34, 17, 47, 12, 33, 27, 2, 50, 53, 35, 41, 17, 55, 23, 28, 44, 3, 40, 43, 2, 48, 45, 26, 39, 33, 25, 50, 48, 20, 52, 11, 22, 5, 29, 6, 28, 45, 36, 7, 41, 50, 24, 26, 52, 3, 16, 38, 30, 27, 22

In [174]:
# Most frequently occurring numbers
grand_lotto_series = pd.Series(grand_lotto_list)
grand_lotto_series.head()

0    40
1    17
2    12
3    29
4    11
dtype: int64

In [175]:
# subset lotto games with winners
lotto_won_df = lotto_df[lotto_df["WINNERS"]!= 0]
lotto_won_df.head()

       LOTTO GAME              COMBINATIONS  DRAW DATE  JACKPOT (PHP)  WINNERS
1  Megalotto 6/45  [40, 10, 16, 28, 07, 09] 2025-08-11  38,521,162.80        2
2        4D Lotto              [7, 0, 7, 5] 2025-08-11      42,039.00       20
3        3D Lotto                 [8, 1, 2] 2025-08-11       4,500.00      594
4        3D Lotto                 [4, 2, 2] 2025-08-11       4,500.00      329
5        3D Lotto                 [8, 8, 9] 2025-08-11       4,500.00      301

In [176]:
number_of_winners = lotto_won_df.groupby("LOTTO GAME")[["WINNERS","JACKPOT (PHP)"]]\
                                .agg(total_winners=("WINNERS", "sum"),\
                                     total_wins_millions=("JACKPOT (PHP)", "sum"),\
                                     ave_wins=("JACKPOT (PHP)", "mean"))\
                                .sort_values("LOTTO GAME").reset_index()

number_of_winners["total_wins_millions"] = number_of_winners["total_wins_millions"] / 1000000
number_of_winners["ave_wins"] = number_of_winners["ave_wins"] 
number_of_winners

          LOTTO GAME  total_winners  total_wins_millions       ave_wins
0           2D Lotto        2963624                43.90       4,000.00
1           3D Lotto        4901887                49.41       4,500.00
2           4D Lotto          45178                66.54      43,951.93
3           6D Lotto            283               409.15   2,056,031.64
4          EZ2 Lotto            826                 0.02       4,000.00
5   Grand Lotto 6/55            509             7,560.74 108,010,608.10
6         Lotto 6/42            230             5,466.69  26,929,501.49
7     Megalotto 6/45            184             6,480.70  41,542,931.31
8     Suertres Lotto           3533                 0.03       4,500.00
9    Superlotto 6/49            113             7,030.11  68,922,642.89
10  Ultra Lotto 6/58             48             7,954.77 194,018,776.55

# Most frequent numbers in winning combinations with actual winners

In [177]:
grand_lotto_series.value_counts().head(10)

52    200
6     197
54    195
28    194
9     193
20    192
33    191
49    189
3     188
41    188
Name: count, dtype: int64

In [178]:
grand_lotto_series.value_counts().tail(10)

14    157
21    156
39    155
7     153
36    152
32    149
46    148
18    148
31    145
53    144
Name: count, dtype: int64

Yearly line chart average of total prices
Most common number in each

In [179]:
# plt.figure(figsize=(14, 8), dpi=150)
# plt.title(